<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>fontlink}}
    <title>About</title>
</head>
<body>
   {{>navbar}}
    <header class="about-header">
        <h2 class="secondary-heading"> <span class="lhe-text">Lion House Entertainment</span> <span>That's Who We are</span> </h2>
    </header>

    <section class="about-section">
        <div class="container">
            <div>
                <h3> About Us</h3>
                <div class="details">
                    <h2>Reputable Label</h2>
                    <div class="text-image">
                        <p class="text-image-p">Lion House Entertainment was founded in 2015. Since inception, it has remained commited to delivering quality Entertainment across Nigeria and globally.
                        Lion House Entertainment strives to be the world’s number 1 entertainment company. We work in every aspect of modern entertainment—with recording artists and producers, songwriters and more. 
                        We are home to some of the world’s finest talents: from Cashboy and DJ Tempah to Milano and Kraytos. We are a full-service organization, supporting our diverse roster of talent via artist management, music publishing, touring, production, strategic brand development and beyond.</p>
                        <img src="/img/pic-25.jpg" alt="artiste on stage" width="4509" height="3006">

                    </div>
                </div>

                <div class="details">
                    <h2>Discovering Talents</h2>
                    <div class="text-image">
                        <p class="text-image-p "><span class="talent-quote">"One thing to have talent, quite another to utilise effectively."</span>At LHE we discover young musical talents and develop them to reach thier full potential. With years of experience and expert trainers our fresh cubs find themselves soaring in the industry quicker than they imagined.</p>
                        <img src="/img/pic-14.jpg" alt="artistes in the street" width="3999" height="5999" class="">

                    </div>
                </div>

                <div class="details">
                    <h2>Passion For Our Art</h2>
                    <div class="text-image">
                        <img src="/img/pic-24.jpg" alt="no music no life" width="5312" height="2988" class="">
                        <p class="text-image-p ">We are passionate about what we do. We live for music and music lives for us. We dedicate time and energy into producing good content. With a broad range of styles from hip-hop to Jazz to RnB. We always got you covered.</p>
                        

                    </div>
                </div>
            </div>
            
        </div>
    </section>

    {{>contact}}

    {{>footer}}
    {{>scripts}}
        
</body>
</html>