<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>fontlink}}
    <title>FAQ</title>
</head>
<body>
    {{>navbar}}
    <section class="faq-section">
        <div class="faq-section-box">
            <div class="lion-text">
                <h2>Frequently Asked Questions</h2>

            <div class="faq-item"><h3>When was Lion House Entertainment Found and who discovered it?</h3><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores ipsa quis sequi labore doloribus tempora omnis commodi eaque nihil perferendis iusto laboriosam amet, culpa magni! Nemo minima eum perspiciatis exercitationem.</p></div>
            <div class="faq-item"><h3>Is Lion House Entertainment a legitimate record Label?</h3><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi excepturi error pariatur labore quia placeat earum voluptatibus facilis assumenda, quibusdam impedit, magnam beatae ex ducimus blanditiis molestias fugit. Expedita, sunt!</p></div>
            <div class="faq-item"><h3>How Can I partner with Lion House Entertainment?</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi veritatis tempora adipisci similique maxime ipsam necessitatibus dolorum, iure facilis commodi, id maiores voluptate. Reprehenderit voluptates quaerat accusantium inventore fugiat quibusdam.</p></div>
            <div class="faq-item"><h3>I would like an artist to perform. What should I do?</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, vel quidem. Temporibus vero expedita exercitationem dolores libero, dolorem, aliquam necessitatibus commodi dignissimos mollitia dolorum deleniti nam recusandae optio doloremque corrupti.</p></div>
            <div class="faq-item"><h3></h3><p></p></div>
            <div class="faq-item"><h3></h3><p></p></div>
            <div class="faq-item"><h3></h3><p></p></div>
            <div class="faq-item"><h3></h3><p></p></div>
            <div class="faq-item"><h3></h3><p></p></div>
            </div>
        </div>
        
    </section>
    {{>footer}}
    {{>scripts}}
</body>
</html>