<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>fontlink}}
    
    {{!-- logo heading --}}
    <title>Home</title>
</head>
<body>
    
    {{>navbar}}
        
        <div class="heading">
            
                <div class="span">
                    <span class="span1">Lion House Entertainment</span>
                    <span class="span2">Your world of Quality Music</span> 
                    <span class="span3">We are a record label that is passionate about music. We create top notch content, partner with various brands, perform at events and cover shows</span>

                    <div class="hero-links">
                        <a href="/services" class="btn-link">More <ion-icon name="arrow-forward-outline" class="ion-arrow"></ion-icon></a> 
                        <a href="/discover" class="btn-link bg-yellow shift-left"><span class="t_a" disabled>Discover<ion-icon name="arrow-forward-outline" class="ion-arrow"></ion-icon>  </span>   </a>

                    </div>
                </div>


            

            
        </div>
    
    {{>footer}}
        
    {{>scripts}}
</body>
</html>