<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>fontlink}}
    {{!-- logo heading --}}
    <title>Privacy Policy</title>
</head>
<body>
    
    {{>navbar}}
    <div class="lion-text">
        <h1><strong>Lion House Entertainment Privacy Policy</strong></h1>
    <p>This website, located at www.lionhouseentertainment.com (the “Site”), is owned and operated by Lion House Enterta
    inment LLC (“Lion House Entertainment,” “we,” “us”). Your privacy is important to Lion House Enter
    tainment. This Privacy Policy (the “Privacy Policy”) should be read in conjunction with our Terms of Use, which can be found at https://lionhouseentertainment.com/terms (“Terms of Use”).</p>
    <p>The Privacy Policy describes the types of Personal Information (as defined below) that we gather while you are on this Site, as well as ways in which we process and disseminate such Personal Information. 
   <strong>IF YOU DO NOT WISH FOR YOUR PERSONAL INFORMATION TO BE USED IN THE WAYS OUTLINED WITHIN THIS PRIVACY POLICY THEN YOU MUST NOT ACCESS OR  MAKE USE OF THE SITE.</strong> 
    </p>
    <p>The data controller of your Personal Information is Lion House Entertainment LLC, a company, registered in Lagos, Nigeria, under company number *******, whose principal office address is at:</p>
    <p>&nbsp;</p>
    <p>243B kirikiri Road </p>
    <p>Olodi Apapa Lagos</p>
    <p>&nbsp;</p>

    <p>This Privacy Policy does not relate to information collected on any other site owned by Lion House Entertainment, its subsidiaries or other businesses, nor does it extend to the privacy practices (or lack thereof) of third parties. Lion House Entertainment cannot, does not and will not assume responsibility for the policies, practices and actions of such third parties.</p>
    <p>Those who choose to access the Site do so on their own initiative and at their own risk, and are responsible for complying with all local laws, rules and regulations. By using this Site, visitors from outside of Nigeria acknowledge this Site is subject to the laws and regulations of Nigeria, and waive any claims that may arise under their own national laws.</p>
    <p>Lion House Entertainment reserves the right to change, modify, add, or remove provisions of this Privacy Policy. </p>

    <ol>
        <li><strong>The information we collect about you.</strong></li>
    </ol>

    <p><em>Information you give us</em>"&nbsp; This is information about you that you give us by:"</p>
    <p>&nbsp;</p>
    <ul>
        <li>following the ‘Contact Us’ link made available on the Site;</li>
        <li>corresponding with us by phone, e-mail or otherwise.</li>
        <li>providing us with feedback about the Site or our services; or</li>
        <li>entering into transactions with us;</li>
        <li>corresponding with us by phone, e-mail or otherwise.</li>
    </ul>
    <p>This may include Personal Information that you provide to us, such as your name, email address, postal address, telephone number, gender and any payment details that you may provide us with.</p>
    <p><em>Information we collect about you.</em>    Each time you use the Site, we may automatically collect the following information, which may be considered to be Personal Information when combined with other information about you:</p>
    <p>&nbsp;</p>
    <ul>
        <li>::marker <strong>IP Protocol Addresses and Web Logs</strong>"This Site’s web servers automatically collect the Internet Protocol (IP) addresses and log files of visitors. Your IP address is an identifying number that is automatically assigned to your computer by your Internet Service Provider (ISP). This number is identified and logged automatically in our server log files whenever you visit the Site, along with the time(s) of your visit(s) and the page(s) that you visited. This information is collected in an aggregate form only. We use your IP address, and the IP addresses of all users, for purposes such as calculating Site usage levels, helping diagnose problems with the Site’s servers, and administering the Site. Collecting IP addresses is standard practice on the Internet and is done automatically by many websites."</li>
        <li>::marker <strong>Coookies</strong>" We may use a technology called a “cookie” to collect information about how you use the Site. When you visit the Site, a cookie will be placed on your computer and when you visit the Site again, the cookie will help the Site recognize your computer’s browser as a previous visitor and that information along with information about other visitors to the Site collected using cookies help provide us with an understanding of how visitors to the Site use the Site (e.g., which pages of the site are most visited and whether a particular user tends to go to certain sections of the Site more than others). We utilize two types of cookies – “session” and “persistent”. A persistent cookie continues to collect information about your visits and behavior on the Site each time you visit the Site. A session cookie expires when you close your browser and does not retain any information about you after it expires. If you do not want information collected through the use of cookies, you should be able to modify your browser preference to provide you with choices relating to cookies. For example, if you use a standard browser, you should have the choice to accept all cookies, to be notified when a cookie is set or to reject all cookies. If you choose to reject cookies, you may be unable to use certain Site services (e.g., those services that require you to log on to the Site in order to participate). For more information on modifying your browser preference, please refer to the documentation accompanying your browser. You can also visit www.aboutcookies.org or www.youronlinechoices.eu for comprehensive information on how to manage cookies."</li>
        <li>::marker <strong></strong>"We and our service providers may also use so-called “pixel tags,” “web beacons,” “clear GIFs” or similar means (collectively, “Pixel Tags”) in connection with some Site pages and HTML-formatted email messages to, among other things, compile aggregate statistics about Site usage and response rates. A Pixel Tag is an electronic image, often a single pixel (1×1), that is ordinarily not visible to Site visitors and may be associated with cookies on the visitors’ hard drives. Pixel Tags allow us to count users who have visited certain pages of the Site, to deliver branded services, and to help determine the effectiveness of promotional or advertising campaigns. When used in HTML-formatted email messages, Pixel Tags can tell the sender whether and when an email has been opened."</li>
    </ul>
    <p>&nbsp;</p>

    </div>













    {{>footer}}
        
    {{>scripts}}
</body>
</html>