<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>fontlink}}
    <title>Slideshow</title>
</head>
<body>
    {{>navbar}}
        

<div class="slideshow-container">

<div class="mySlides slide-1 fade">
    <div class="slide-1">
      <div class="numbertext">
        <div class="artiste-box">
            <p> Artiste one has been in the game since 2017 when she dropped her hit song, "Bad Belle". Some of her hit songs include bala, bulu and bale. She is a  young talent with a promising future </p>
            <div class="artiste-social-box">
                <nav>
                    <ul class="social-list">

                              <li><a href="https://www.facebook.com/john.adikwu.798" target="_blank"><img src="/img/facebook-white.png" alt="" ></a></li>
                              <li><a href="https://www.instagram.com/johnnath99/" target="_blank"><img src="/img/instagram-white.png" alt="" ></a></li>
                              
                              <li><a href="https://twitter.com/JOHNADIKWU17" target="_blank"><img src="/img/twitter-white.png" alt="" ></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
  {{!-- <img src="/img/pic-1.avif" style="width:100%"> --}}
  <div class="text">Artiste One</div>
    </div>
</div>

<div class="mySlides slide-2 fade">

  <div class="slide-2">
    <div class="numbertext ar-2">
    <div class="artiste-box">
            <p> Artiste two has been in the game since 2017 when he dropped his hit song, "Baby mi". Some of his hit songs include bala, bulu and bale. He is a  young talent with a promising future </p>
            <div class="artiste-social-box">
                <nav>
                    <ul class="social-list">

                              <li><a href="https://www.facebook.com/john.adikwu.798" target="_blank"><img  class="" src="/img/facebook-black.png" alt=""></a></li>
                              <li><a href="https://www.instagram.com/johnnath99/" target="_blank"><img class="" src="/img/instagram-black.png" alt=""></a></li>
                              
                              <li><a href="https://twitter.com/JOHNADIKWU17" target="_blank"><img class="" src="/img/twitter-black.png" alt=""></a></li>
                    </ul>
                </nav>
            </div>
        </div>

  </div>
  {{!-- <img src="/img/pic-19.jpg" style="width:100%"> --}}
  <div class="text">Artiste Two</div>
  </div>
  
</div>

<div class="mySlides slide-3 fade">

  <div class="slide-3">
    <div class="numbertext ar-3">
    <div class="artiste-box">
            <p> Artiste three has been in the game since 2017 when he dropped his hit song, "Baby mi". Some of his hit songs include bala, bulu and bale. He is a  young talent with a promising future </p>
            <div class="artiste-social-box">
                <nav>
                    <ul class="social-list">

                              <li><a href="https://www.facebook.com/john.adikwu.798" target="_blank"><img  class="" src="/img/facebook-black.png" alt=""></a></li>
                              <li><a href="https://www.instagram.com/johnnath99/" target="_blank"><img class="" src="/img/instagram-black.png" alt=""></a></li>
                              
                              <li><a href="https://twitter.com/JOHNADIKWU17" target="_blank"><img class="" src="/img/twitter-black.png" alt=""></a></li>
                    </ul>
                </nav>
            </div>
        </div>

  </div>
  {{!-- <img src="/img/pic-19.jpg" style="width:100%"> --}}
  <div class="text">Artiste Three</div>
  </div>
  
</div>



  <div class="dot-box">
    <span class="dot dot-1">
  </span><span class="dot dot-2">
  </span><span class="dot dot-3"></span>
  </div>
</div>
    {{>footer}}

    <script src="/js/slider.js"></script>
</body>
</html>