<footer class="site-footer">    
        <div class="footer-boxes">
            <div class="footer-box footer-box--1">
                <a href="/faq" class="footer-link">Home</a>
                <a href="/artistes" class="footer-link">About</a>
                <a href="/contact-us" class="footer-link">Contact Us</a>                
            </div>
            <div class="footer-box footer-box--2">
                <a href="/about" class="footer-link">Artistes</a>
                <a href="/services" class="footer-link">Services</a>
                <a href="/discover" class="footer-link">FAQ</a>
            </div>

            <div class="footer-box footer-box--2">
                <a href="/music" class="footer-link">Music</a>
                <a href="/blog" class="footer-link">Blog</a>
                
            </div>

            
            <div class="footer-box footer-box--3">
                <div class="menu-heading">LHE</div>

                <div class="social-container">
                    <ul class="social-list">
                        <li><a href="https://www.instagram.com/johnnath99/"><img src="/img/instagram-black.png" alt="" class="footer-icon"></a></li>
                        <li><a href="https://www.facebook.com/john.adikwu.798/"><img src="/img/facebook-black.png" alt="" class="footer-icon"></a></li>
                        <li><a href="https://twitter.com/JOHNADIKWU17"><img src="/img/twitter-black.png" alt="" class="footer-icon"></a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="footer-boxes-bottom">

            <div class="footer-boxes-bottom--1">Lion House Entertainment All Rights reserved</div>
            <div class="footer-boxes-bottom--2"><a href="/privacy" class="footer-link">Privacy Policy</a> </div>
            <div class="footer-boxes-bottom--3"><a href="terms" class="footer-link">Terms of use</a> </div>
            
        </div>
        


    </footer>