

<header>
        <div class="header-content">
      
          <div class="logo"><a href="/" class="logo"><img src="/img/pic-1.jpg" alt=""></a></div>
      
          <input type="checkbox" id="hamburger">
          <label for="hamburger"><span></span></label>
      
          <nav>
            <ul class="menus">
              <li><a href="/">Home</a></li>
              <li>
                <button type="button"
                aria-haspopup="true" 
                aria-expanded="true" 
                aria-controls="dropdown1" disabled>Discover <span class="arrow"></span></button>
                <ul class="dropdown">
                  <li><a href="#">Blog</a></li>
                  <li><a href="#"> Music</a></li>
                  <li><a href="/slider">Artistes</a></li>
                  
                </ul>
              </li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact-us">Contact</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="/faq">FAQ</a></li>

              

            </ul>
          </nav>
        </div>
      </header>
