<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ham.css">
    <title>hamburger</title>
</head>
<body>
    <header>

        
        <div class="header-content">
      
          <a href="/"><div class="logo"> <img src="/img/logo.jpeg" alt="Lion House Logo" ></div></a>
      
          <input type="checkbox" id="hamburger">
          <label for="hamburger"><span></span></label>
      
          <nav>
            <ul class="menus">
              <li><a href="/">Home</a></li>
              <li>
                <button type="button"
                aria-haspopup="true" 
                aria-expanded="true" 
                aria-controls="dropdown1">Discover <span class="arrow"></span></button>
                <ul class="dropdown">
                  <li disabled><a href="/discover/blog" >Blog</a></li>
                  <li disabled><a href="/discover/music" >Music</a></li>
                  <li><a href="/discover/artistes">Artistes</a></li>
                </ul>
              </li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact-us">Contact</a></li>
              <li><a href="/services">Services</a></li>
              

            </ul>
          </nav>
        
        </div>
        
      </header>
</body>
</html>